header {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 0px 25px 0px 0px;
    background-color: lightblue;
}

img {
    height: 100px;
    width: 100px;
}

.logo-heading {
    display: flex;
    align-items: center;
    gap: 5px;
    font: 17px 'Arial Black', Gadget, sans-serif;
    font-weight: bold;
    color: rgb(0, 73, 182);
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
    font: 20px 'Arial Black', Gadget, sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    align-items: center;
    padding-top: 17px;
}
nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav ul li a:hover {
    color: rgb(0, 73, 182);
    text-decoration: underline;
    transition: 0.3s;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}